/*
 * Copyright 2016 Huub de Beer <Huub@heerdebeer.org>
 *
 * This file is part of FlaskFiller.
 *
 * FlaskFiller is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * FlaskFiller is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with FlaskFiller.  If not, see <http://www.gnu.org/licenses/>.
 */
body {
  padding: 0;
  margin: 0;
}

body > .container-fluid {
  padding: 0;
  margin:0;

}

header {
  font-size: 16pt;
}

header nav a {
  color: inherit;
}

h4.panel-title {
  border-bottom: 1px solid;
  border-color: #0275d8;
  padding-bottom: 5px;
}

h4.panel-title a:hover, h4.panel-title a:focus {
  text-decoration: none;
}

.tab-content {
  padding: 15px;
}

#settings, #information, #help {
  font-size: 14pt;
}

#world-height {
  display: inline-block;
  min-width: 5em;
}

form legend.col-form-legend {
  font-size: 14pt;
}

figure {
  display: inline-block;
  margin: 0;
  padding: 0;
}

figcaption {
  margin-left: 45px;
}

figcaption select {
  text-align: left;
}

table {
  margin-top: 30px;
  margin-left: 4px;
}

svg {
}

svg g.line path:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}


td {
  border: 1px solid lightgray;
  text-align: right;
  padding: 0.5ex;
  font-size: inherit;
}

th {
  border: 1px solid lightgray;
  text-align: center;
}

th.corner {
  border: none;
  background: none;
}

input {
  padding: 0;
  padding-right: 1ex;
  border: white 1px solid;
  font-family: inherit;
  font-size: inherit;
  max-width: 4em;
  text-align: right;
}


:invalid {
  background-color: crimson;
  color: white;
}

span.unit {
  font-size: smaller;
  padding-left: 2px;
}

input[type='range'] {
  padding-top: 1ex;
  margin-left: 10px;
  max-height: 1px;
}

.btn.action {
  font-size: smaller;
}

button[data-action='remove'] { 
  background: crimson;
  color: white;
}

button.left-separator {
  margin-left: 10px;
}

button[data-toggled] {
  background-color: gold;
}

:not(:disabled)[data-tooltip]::before {
  content: attr(data-tooltip);
  font-size: smaller;
  z-index: 100;
  padding-right: 1ex;
  padding-left: 1ex;
  background: white;
  color: dimgray;
  position: absolute;
  visibility: hidden;
  opacity:0;

  transition-property: opacity;  
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  transition-delay: 0.5s;
}

:not(:disabled)[data-tooltip]:hover::before {
  opacity: 1;
  visibility: visible;
}

#graph {
}

.axis {
  font-size: 10pt;
  font-family: inherit;
}

.axis path {
  fill: none;
  stroke: black;
}

.axis .tick {
  fill: none;
  stroke: black;
}

.grid path {
  fill: none;
}

.grid .tick {
  fill: none;
  stroke: black;
  stroke-opacity: 0.25;
}

circle.drag-handle:hover {
  stroke-opacity: 1;
  fill-opacity: 0.5;
  cursor: move;
}

svg {
  font-family: 'Gill Sans MS', 'Helvetica', sans-serif;
}

div.tooltip {
  padding: 1ex;
  background-color: yellow;
  border-radius: 1ex;
  opacity: 0.7;
  pointer-events: none;
}

div.tooltip.disabled {
  display: none;
  pointer-events: none;
}

div.speed_tooltip {
  padding: 1ex;
  background-color: greenyellow;
  border-radius: 1ex;
  opacity: 0.7;
}

div.speed_tooltip.disabled {
  display: none;
}

form.metadata {
  padding: 1ex;
}

form.metadata label {
  font-weight: bolder;
  margin-right: 1ex;
}

form.metadata input {
  padding-left: 1ex;
  padding-right: 1ex;
  border: dimgray 1px solid;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  max-width: 15em;
}
